@{
    ViewBag.Title = "Cảm ơn bạn đã mua hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="text-center" style="margin-top:10%">
        <img src="~/Content/css/images/Accept-icon.png" /><br />
        Bạn đã đặt hàng thành công. Cảm ơn bạn đã mua hàng!
    </div>
</body>

